*{
  list-style: none;
}
.main-home{
    display: block;
}

.title-home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
    padding-top: 100px;
}

.title-home h2, .title-home h1{
  text-align: center;
}

.content-home{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px 150px 100px 150px;
}

.content-home img{
    max-width: 40%;
    height: 350px;
    object-fit: cover;
    padding-right: 50px;
}

.text-content-home{
    padding-right: 50px
}
/*-----------Carousel--------------*/

.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 90VW;
    height: 60vh;
    margin: 30px auto;
  }
  
  .carousel-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 10px;
    width: 100%;
    padding: 10px;
  }
  
  .carousel-slide {
    flex: none;
    scroll-snap-align: start;
    width: 100%;
    max-width: 90vw;
    height: 60vh;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  
  .carousel-slide img {
    width: 90vw;
    height: 100%;
    object-fit: cover;
    display: block;
    background-position: top;
  }
  
  .carousel-btn {
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
  }
  
  .carousel-btn.left {
    margin-right: 10px;
  }
  
  .carousel-btn.right {
    margin-left: 10px;
  }

  @media (max-width: 1024px){
.content-home {
    padding: 0px 100px 100px 100px;
}
.title-home {
    padding: 100px;
}

}

  @media (max-width: 768px){
.content-home {
    padding: 0px 50px 50px 50px;
}

.content-home{
  flex-direction: column;
}

.text-content-home{
  padding: 0;
}

.content-home img {
    max-width: 100vw;
    width: 100%;
    height: 350px;
    padding-right: 0px;
    padding: 30px 0px 30px 0px;
}

.carousel-btn{
  display: none;
}

.title-home {
    padding: 50px;
}

.title-home h1{
      padding-bottom: 20px;
}
}
  

  @media (max-width: 425px){
.content-home {
    padding: 0px 30px 30px 30px;
}

.title-home {
    padding: 30px;
}
}